html,body{
    height: 100%;
}
.inforamtion {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    margin-top: 30px;;
}

.inforamtion p {
    color: #ddd;
}
i.fa {
    width: 30px;
    height: 30px;
    background: #5d6ac8;
    line-height: 30px;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
}
.inforamtion h2 {
    font-weight: 700;
}
.wrapper{
    background-image: url(./img.jpg);
    background-size: cover;
    background-position: 0 0;
    height: 100%;
    position: relative;
    z-index: 1;
   -ms-touch-select: unset;
}

.inner {
    display: table;
    width: 100%;
    height: 100%;
}

.keys {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  
}

.key {
    transition: all .07s ease;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    width: 100px;
    margin: 4px;
    padding: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px
}

kbd {
    background: transparent;
    color: #fff;
    font-size: 40px;
    display: block;
    padding: 0;
}

span.sound {
    text-transform: uppercase;
    color: #e7e7e7;
    font-size: 13px;
}

.wrapper:after {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .5;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}



 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .inforamtion {
        display: none;
    }
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .inforamtion {
        display: none;
    }
 }